<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <h1 class="beyonceName">BEYONCÉ KNOWLES-CARTER</h1>
    <div class="nav">
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/bonus">Bonus</a>
    </div>
    <div class="display">
        <div class="pageTitle">
<h1>Beyoncés Works</h1>
        </div>

<iframe class="videoBox" width="1060" height="515" src="https://www.youtube.com/embed/KDI5EsOJunk" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
    </div>
    
    
</body>
</html>